@model LtqBaiKiemTraGK.Models.ltqKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ltqKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LtqtenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LtqtenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LtqTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LtqTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LtqMaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
